@use '../shared' as *;
@use '../design' as *;

@keyframes border-flash {
  0% {
    border-color: transparent;
    background: transparent;
  }
  50% {
    border-color: get-css-var(color-primary-base);
  }
  100% {
    border-color: transparent;
    background: transparent;
  }
}
